# Google Gemini API Key (required)
GOOGLE_API_KEY=your-api-key-here

# Agent model (default: gemini-3-flash-preview)
AGENT_MODEL=gemini-3-flash-preview

#Local Mock SAP Server URL
#MOCK_SAP_URL=http://localhost:8080

# Mock SAP Server URL
MOCK_SAP_URL=https://mock-sap-server-1095841982092.us-central1.run.app/

# Deployment Config
PROJECT_ID=ai-connect-sap26blr-337
STAGING_BUCKET=gs://synthetic_data_agent_staging_bucket
